.calculate-container{
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 50px;
    font-family: sans serif;
    font-size: 18px;
    color: black;
    background-color:#D4F8E8;
    border: 1px solid #1eb2a6;
    margin: 0 auto;
}

.field {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

button {
    width: 100%;
    border: none;
    padding: 5px;
    background-color: #1eb2a6;
    color: white;
    font-family: sans serif;
    font-size: 18px;
    margin: 10px 0;
}

input {
    width: 270px;
    padding: 5px;
    border: 1px solid 7f78d2;
}

h1 {
    visibility: hidden;
    position: absolute;
}

.logo {
    width: 200px;
    margin: 20px;
}